@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.home-div{
    font-family: 'Odibee Sans', cursive;
    text-align: center;
    width: 50%;
    color:white;
    background-color: black;
    opacity: 0.8;
    margin: auto;    
}
.home-div > h1{
    font-size: 4em;
}
.home-div > p{
    font-size: 2em;
}
.thumbnail{
    width: 90%;    
}