/* viewport layout */
.app-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 5vw auto;
    grid-template-areas: "sidebar main";
}

.sidebar-container{
    grid-area: sidebar;
}

.main{
    grid-area: main;
    display: grid;
    place-content: center center;
    background-image: url(/src/Components/images/bg.jpg);    
}